<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="/" class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="32" height="32">
          <path d="M18 4l2 4h-3l-2-4h-2l2 4h-3l-2-4H8l2 4H7L5 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4h-4z"/>
        </svg>
        <span>Movie App</span>
      </a>
    </div>

    <div class="navbar-search">
      <form (submit)="onSearch($event)" class="search-form">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          name="search"
          placeholder="Search movies..."
          class="search-input"
        />
        <button type="submit" class="search-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="20" height="20">
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
          </svg>
        </button>
      </form>
    </div>

    <div class="navbar-actions">
      <button (click)="toggleDarkMode()" class="icon-btn" title="Toggle dark mode">
        @if (themeService.isDarkMode()) {
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
            <path d="M12 18c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z"/>
          </svg>
        } @else {
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
            <path d="M9 2c-1.05 0-2.05.16-3 .46 4.06 1.27 7 5.06 7 9.54 0 4.48-2.94 8.27-7 9.54.95.3 1.95.46 3 .46 5.52 0 10-4.48 10-10S14.52 2 9 2z"/>
          </svg>
        }
      </button>

      <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
      <a routerLink="/movies" class="nav-link ">Movies</a>
      <span class="nav-link disabled">Wishlist (Coming Soon)</span>
      <a routerLink="/login" class="nav-link">Login</a>
      <div class=" profilediv bg-black">

        <a routerLink="/accdetails" ><img src="customer_person_people_man_user_client_1629.ico"></a>

        
      </div>
      <button (click)="onLogout()" class="btn btn-danger">Log Out</button>
    </div>

    <button class="mobile-menu-toggle" (click)="toggleMobileMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>
    </button>
  </div>

  @if (showMobileMenu) {
    <div class="mobile-menu">
      <a routerLink="/home" (click)="toggleMobileMenu()">Home</a>
      <span class="disabled">Movies (Coming Soon)</span>
      <span class="disabled">Wishlist (Coming Soon)</span>
      <span class="disabled">Login (Coming Soon)</span>
    </div>
  }
</nav>
